@{
   
    ViewData["Title"] = "Clint McMahon | Freelance C# .NET Consultant Specializing in Healthcare Research Software";
    ViewData["Description"] = "I'm a freelance C# .NET consultant specializing in healthcare research software development. Expert in creating scalable, secure, and innovative solutions.";
}
 @model IEnumerable<Post>

<div class="home">
<section class="hero-section pt-0">
    <p class="intro-text">Hi, my name is</p>
    <h1 class="main-heading">Clint McMahon</h1>
    <h2 class="sub-heading">I make things for the Internet.</h2>
    <p class="description mb-4">
        I’m a freelance software consultant specializing in building tailored solutions for healthcare research organizations. Leveraging C# .NET, SQL Server, Umbraco, and React, I develop scalable and efficient software to support critical healthcare research initiatives. Through <a target="_blank" href="https://parkasoftware">Parka Software</a>, I deliver healthcare-focused solutions that empower researchers, doctors, patients and healthcare institutions with innovative, high-performance tools.
    </p>
    <p class="pt-4">
    <a href="mailto:clint@parkasoftware.com?subject=New project request" class="cta-button">Get in Touch</a>
    </p>
</section>

<section id="about">
    <div class="container">
        <h2 class="numbered-heading">Experience and Expertise</h2>
        <div class="row align-items-start">
            <div class="col">
                <p> I’m a freelance software consultant with a proven track record in developing tailored solutions for healthcare research organizations. Leveraging my expertise in C# .NET, SQL Server, Umbraco, and React, I create scalable, secure, and innovative software systems designed to empower researchers and institutions. With a passion for solving complex challenges, I am dedicated to helping healthcare professionals achieve their goals through cutting-edge technology.
            </p>
             <p class="pt-4">
                <a href="/about" class="cta-button">View My Full Bio</a>
             </p>
            </div>
            <div class="col-md-4 d-none d-md-block">
                <div class="profile-pic-wrapper">
                    <img src="/images/me.jpg" alt="Clint McMahon" class="img-fluid profile-pic">
                </div>
            </div>

        </div>
    </div>
</section>
<section id="value">
    <div class="container">
        <h2 class="numbered-heading">How I Can Help Your Organization</h2>
        <div class="row align-items-start">
            <div class="col">
                <h3> Services Offered:</h3>
                
                <ul>
                    <li>
                        <strong>Custom Software Development:</strong> 
                        Scalable and efficient software tailored to healthcare research needs.
                    </li>
                    <li>
                        <strong>Systems Integration:</strong> 
                        Seamlessly connect and optimize your tools and platforms.
                    </li>
                    <li>
                        <strong>Legacy Systems MOdernization:</strong> 
                        Transition outdated systems to modern, high-performance architectures.
                    </li>
                    <li>
                        <strong>Data Visualization and Analytics:</strong> 
                        Transform complex data into actionable insights.
                    </li>
                </ul>
            </p>
            <p class="pt-4">
                <a href="/services" class="cta-button">Explore My Services</a>
            </p>
            </div>
           
        </div>
    </div>
</section>

<section id="projects">
    <div class="container">
        <h2 class="numbered-heading">Featured Projects</h2>
            <p>
                Explore some of the impactful projects I’ve delivered for enterprise clients. Each project highlights my ability to design, develop, and deliver web applications that solve complex challenges and drive value.
            </p>
        <!-- Project 1 -->
        <div class="row featured-project" style="margin-top:100px">
            <!-- Project Image -->
            <div class="col-md-6 project-image-wrapper">
                <a href="https://preview.srtr.org/" target="_blank" rel="noopener noreferrer">
                    <img src="/images/pfwebsite.png" alt="SRTR Patient-Friendly Website"
                        class="img-fluid project-image" />
                </a>
            </div>
            <!-- Project Content -->
            <div class="col-md-6 project-content">
                <p class="project-overline">Featured Project</p>
                <h3 class="project-title">
                    <a href="https://preview.srtr.org/" target="_blank" rel="noopener noreferrer">SRTR Patient-Friendly
                        Website</a>
                </h3>
                <div class="project-description">
                    <p>Working alongside the Scientific Registry of Transplant Recipients, developed a platform that
                        empowers patients with clear, accessible educational resources. Featuring interactive tools like
                        a transplant journey map and informative videos, this app enhances patient engagement and
                        supports informed decision-making throughout their healthcare journey.</p>
                    <p>The preview of this website not only introduces a more intuitive user interface but also sets the
                        stage for future enhancements to professional content on srtr.org, reinforcing SRTR’s commitment
                        to being a trusted, patient-centric resource in the transplant community.</p>
                </div>
                <ul class="project-tech-list">
                    <li>C#</li>
                    <li>.Net</li>
                    <li>Umbraco</li>
                    <li>SQL Server</li>
                    <li>JavaScript</li>
                </ul>
                <div class="project-links">
                    <a href="https://preview.srtr.org/" aria-label="External Link" class="external" target="_blank"
                        rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-external-link">
                            <title>External Link</title>
                            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                            <polyline points="15 3 21 3 21 9"></polyline>
                            <line x1="10" y1="14" x2="21" y2="3"></line>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <!-- Project 2 -->
        <div class="row featured-project">
            <!-- Project Content -->
            <div class="col-md-6 project-content">
                <p class="project-overline">Featured Project</p>
                <h3 class="project-title">
                    <a href="https://www.srtr.org/transplant-centers/interactive-report?center=NYUC&type=TX1&organ=ki"
                        target="_blank" rel="noopener noreferrer">SRTR Interactive
                        Reports</a>
                </h3>
                <div class="project-description">
                    <p>Architected and developed Transplant Centers Interactive Report website that provides
                        valuable data on a transplant program’s waiting list, organ offer acceptance rates, transplants
                        performed, and patient outcomes following transplant.
                    </p>
                    <p>Utilizing interactive graphs and charts to present the data, allowing users to explore the
                        trends and patterns in a user-friendly and intuitive way. By leveraging the power of R datasets,
                        we were able to create sophisticated visualizations that effectively communicate complex
                        information to a wide range of audiences – not to mention speed page load times.</p>
                </div>
                <ul class="project-tech-list">
                    <li>C#</li>
                    <li>.Net</li>
                    <li>React</li>
                    <li>High Charts</li>
                    <li>SQL Server</li>
                    <li>JavaScript</li>
                </ul>
                <div class="project-links">
                    <a href="https://www.srtr.org/transplant-centers/interactive-report?center=NYUC&type=TX1&organ=ki/"
                        aria-label="External Link" class="external" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-external-link">
                            <title>External Link</title>
                            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                            <polyline points="15 3 21 3 21 9"></polyline>
                            <line x1="10" y1="14" x2="21" y2="3"></line>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-md-6 project-image-wrapper">
                <a href="https://www.srtr.org/transplant-centers/interactive-report?center=NYUC&type=TX1&organ=ki"
                    target="_blank" rel="noopener noreferrer">
                    <img src="/images/transplantcentersearch.png" alt="SRTR Interactive Reports"
                        class="img-fluid project-image" />
                </a>
            </div>
        </div>

        <!-- Project 3 -->
        <div class="row featured-project">
            <!-- Project Image -->
            <div class="col-md-6 project-image-wrapper">
                <a href="https://www.srtr.org/reports/opo-specific-reports/interactive-report" target="_blank"
                    rel="noopener noreferrer">
                    <img src="/images/oporeports.png" alt="Organ Procurement Report" class="img-fluid project-image" />
                </a>
            </div>
            <!-- Project Content -->
            <div class="col-md-6 project-content">
                <p class="project-overline">Featured Project</p>
                <h3 class="project-title">
                    <a href="https://www.srtr.org/reports/opo-specific-reports/interactive-report" target="_blank"
                        rel="noopener noreferrer">Organ Procurement
                        Report</a>
                </h3>
                <div class="project-description">
                    <p>I collaborated with biostatisticians, doctors, and researchers at the Scientific Registry of
                        Transplant Recipients to develop interactive data visualization reports on organ procurement
                        organization (OPO) performance. </p>
                    <p>These reports transform complex data into accessible insights,
                        allowing users to explore key metrics, compare OPOs, and understand trends in organ procurement
                        practices. By integrating SRTR’s research and expertise, the project supports transparency and
                        drives improvements in the field of organ donation and transplantation.</p>
                </div>
                <ul class="project-tech-list">
                    <li>C#</li>
                    <li>.Net</li>
                    <li>React</li>
                    <li>High Charts</li>
                    <li>SQL Server</li>
                    <li>JavaScript</li>
                </ul>
                <div class="project-links">
                    <a href="https://www.srtr.org/reports/opo-specific-reports/interactive-report"
                        aria-label="External Link" class="external" target="_blank" rel="noopener noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-external-link">
                            <title>External Link</title>
                            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                            <polyline points="15 3 21 3 21 9"></polyline>
                            <line x1="10" y1="14" x2="21" y2="3"></line>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="latest">
    <div class="container">
        <h2 class="numbered-heading">Latest Blog Posts</h2>
        <div class="row align-items-start">
           <div class="col">
               

                @foreach (var post in Model)
                {
                    <div class="post-summary numbered">
                        <h2 class="blog-heading"><a href="@Url.Action("Details", "Blog", new { slug = post.Slug })">@post.Title</a>
                        </h2>
                        <p>@post.Description</p>
                        <small>@post.Date.ToString("MMMM dd, yyyy")</small>
                        <hr />
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <h2 class="numbered-heading">Contact Me</h2>
        <div class="row align-items-start">
           <div class="col">
                 @Html.Partial("~/Views/Contact/_Contact.cshtml")
            </div>
        </div>
    </div>

</section>

</div>
