@{
    ViewData["Title"] = @Model.Title + " | Clint McMahon";
    ViewData["Description"] = @Model.Description;
}

@model Post

<div class="blog-post">
    <h1>@Model.Title</h1>
    <span class="post-date">@Model.Date.ToString("MMMM d, yyyy")</span>

    <div class="post-content">
        @Html.Raw(Model.Content)
    </div>

    @await Html.PartialAsync("_BlogPostFooter", Model)
</div>
